__pycache__/fantasyinngenerator.cpython-35.pyc
__pycache__/fantasyinstitutiongenerator.cpython-35.pyc
__pycache__/fantasyNPCgenerator.cpython-35.pyc
__pycache__/fantasysettlementgenerator.cpython-35.pyc
__pycache__/homebrew.cpython-35.pyc
__pycache__/inngenerator.cpython-35.pyc
__pycache__/innnamegenerator.cpython-35.pyc
__pycache__/interface.cpython-35.pyc
__pycache__/randomnamegenerator.cpython-35.pyc
__pycache__/missiongenerator.cpython-35.pyc
__pycache__/riddlegenerator.cpython-35.pyc
__pycache__/insultgenerator.cpython-35.pyc
__pycache__/fantasybookgenerator.cpython-35.pyc
__pycache__/syfanplanetgenerator.cpython-35.pyc
__pycache__/weathergenerator.cpython-35.pyc
token.txt
discordid.txt
serverinfo.txt
*.pyc
